.logoMain {
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}

.logo_ {
    font-family: 'Comfortaa', cursive;
    color: #000;
    font-weight: 800;
    display: flex;
}

.text_ {
    text-align: right;
    font-size: 27px;
}

.brackets {
    color: #1c67da;
    margin-left: 5px;
    display: flex;
    font-size: 50px;
}

.bars {
    padding: 0 10px;
    vertical-align: bottom;
    width: 45px;
    height: 50px;
    overflow: visible;
    position: relative;
    box-sizing: border-box;
}

.b_1 {
    top: 22%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_2 {
    top: 44%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_3 {
    top: 66%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_4 {
    top: 88%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.bar {
    background-color: #1c67da;
    height: 11%;
    width: 100%;
    position: absolute;
    border-radius: 2rem;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    animation-duration: 1.5s;
    -webkit-animation-iteration-count: 1;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-timing-function: linear;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-direction: normal;
    -webkit-animation-timing-function: linear;
}

@media(max-width:499px) {
    .logoMain {

        margin-top: 16px;
    }
    .text_ {
        font-size: 18px;
    }
    .brackets {
        font-size: 35px;
    }
    .bars {
        padding: 0 10px;
        vertical-align: bottom;
        width: 30px;
        height: 35px;
        overflow: visible;
        position: relative;
        box-sizing: border-box;
    }
    /* .b_1 {
    top: 22%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_2 {
    top: 44%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_3 {
    top: 66%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
}

.b_4 {
    top: 88%;
    width: 75%;
    right: 0;
    animation-name: b1;
    -webkit-animation-name: b1;
} */
}